# Override default HTTPD vHost
# Copy this file to 
# /etc/httpd/conf.d
# It is included by default in HTTPD conf

<Directory "{{web_doc_root}}">
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
</Directory>